nav {
  background-color: rgb(15, 15, 15);
}
nav ul li {
  display: inline-block;
  width:25%;
  padding: 10px;

}
nav ul{
  border-bottom: 1px solid #000;
}
nav ul li a {
  color: rgb(255, 255, 255);
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
  color: #969696;
  text-decoration: none;
}

/*#main-carousel .carousel-inner .item img {
  width: 1300px;
  height: 500px;
}*/

#main-carousel .carousel-inner .item img {
  margin: 0 auto;
}

#main-carousel .carousel-inner .item .carousel-caption {
  width: 400px;
  margin: 0 auto;
}

#main-title{
  text-align: center;
}
